/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto"); */

* {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.menu {
  background: #DCDCDC;   /* #92AB96 (green); alternative #A7B2C6 (greyish blue) */
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  list-style: none; 
  overflow:hidden;
}

.logo {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  text-transform: uppercase;
  border-left: 5px #9B524C solid;   /* #7A306C (purple) */
  margin-left: 35px;
  margin-top: 7px;
  margin-bottom: 7px; 
  padding-left: 15px;
  padding-top: 0px;
  color:  #3D3522;                 /* #3D3522 (brown) */
  font-size: 1.18rem;
  font-family: "Cinzel";
  font-weight: bold;
  /* border: 2px black solid; */
}

.logo a {
  text-decoration: none; 
  color:  #3D3522; 
}

.group {
  flex: 4;
  -webkit-flex: 4;
  -moz-flex: 4;
  /* border: 1px cyan solid; */ 
}

.ghost-space {
	flex: 1;
  -webkit-flex: 1;
  -moz-flex: 0;
  /* border: 1px blue solid; */
}

ul {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
  /* border: 1px orange solid; */
}

.menu-tab {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  text-align: center;
  margin-top: 0px;
  /* border: 1px red solid; */
}

.menu-tab a {
  display: inline-block;
  text-decoration: none; 
  width: 85%;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 1.02em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Cinzel";
  color: #3D3522;                   /* #3D3522 (brown) */
  /* -webkit-transition: 0.4s; 
  -moz-transition: 0.4s;
  transition: 0.4s; */
  /* border: 1px solid black; */
}

.menu-tab a:hover,
.menu-tab a:focus {
  color: #9B524C;                   /* #7A306C (purple); alt: #9B524C (red) */
  font-size: 1.02em;
  border-bottom: 2px #9B524C solid;
} 


.active a{
  color: #9B524C; 
  border-bottom: 2px #9B524C solid;  /* #7A306C (purple fonts & line) */
  font-size: 1.02em;
  /* text-shadow: 1px 1px 10px white; */
}

/*-------------------- burger icon ------------------------*/

nav input, 
nav label {
  display: none;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: black;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 4px;
}

nav label {
  position: absolute;
  top: 12px; 
  right: 18px;
}

nav label:hover {
  cursor: pointer;
}

nav label:before {
  font-family: "FontAwesome" !important;
  content: "\f0c9";
  font-size: 24px;
  text-align: center;
}

/*------------------the beginning of home container ----------------*/
.home-container {
  height: auto;
}

.slider-wrapper {
  padding: 0; 
  /* overflow: hidden; */
}

.slider{
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.sl-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* background: lightblue; */
  /* border: 1px black solid; */
}

.sl-text h1{
  padding: 0px;
  line-height: 1.8em;
  font-size: 36px; 
  font-family: "Cinzel";
  text-align: center;
  color: white;
  text-shadow: 1px 1px 15px black; 
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.intro-wrapper {
  background: #fff;
  height: auto;
}

.intro-text {
  width: 68%;                  /* follow styling: 80% (+5px padding) */
  margin: 0 auto;
  background: #fff;         /* can be deleted due to the cascading */
  color: black;
  padding: 50px;
}

.intro-text h1{
  padding: 5px;
  font-size: 18pt; 
  font-family: "Cinzel";
  text-align: center;
  margin: 25px 0 5px 0; 
  /* border: 1px black solid; */
}

.intro-text h1:first-child {
  margin-top:0;
}

.intro-text h2:first-child {
  margin-top:0;
}

.intro-text h2{
  padding: 5px;
  font-size: 15pt; 
  font-family: "Cinzel";
  text-align: left;
  margin: 25px 0 5px 0; 
  /* border: 1px black solid; */
}

.intro-text h5:first-child {
  margin-top:0;
}

.intro-text h5{
  padding: 5px;
  font-size: 12pt; 
  font-family: "Cinzel";
  text-align: left;
  margin: 25px 0 5px 0; 
  /* border: 1px black solid; */
}

.intro-text p{
  padding: 16px 0;
  font-family: "Roboto";
  font-size: 12.5pt; 
  line-height: 1.3em;
  text-align: justify;
}

.intro-text pm{
  padding: 4px 0;
  font-family: "Roboto";
  font-size: 10pt; 
  line-height: 1.2em;
  text-align: justify;
}

.intro-text p2{
  padding: 16px 0;
  font-family: "Roboto";
  font-size: 20pt; 
  line-height: 1.3em;
  text-align: justify;
}

.intro-text ptitle{
  padding: 5px;
  font-size: 35pt; 
  font-family: "Roboto";
  text-align: center;
  margin: 25px 0 5px 0; 
}

.intro-text pyclass{
    color: #0000FF; 
    font-weight: bold;
}

.intro-text pp{
  margin-left: 45px
}

/*-------------------the end of home container --------------------*/



/* ---------------------- the beginning of the footer section ---------------- */
.ft-container {
  height: 50px;
  background: #DCDCDC;   /* #92AB96 green */
}

.ft-left {
  float: left;
  margin: 7px;
  padding: 0px;
  color: #3D3522;        /* #3D3522 brown */
}

.ft-right {
  float: right;
  margin: -9px 20px;
  padding: 0px;
  height: 50px;
  overflow: hidden; 
  /* border: 1px solid brown;*/
} 

.social-buttons {
  list-style: none;
  /* border: 1px solid gold; */
}


ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    color: #9B524C;     /* #7A306C purple; alt: #9B524C red */
}

ul.social-buttons li a {
    display: block;
    margin-right: 10px;
    padding: 5px;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    /* border: 1px solid blue; */
}
/* --------------------------- the end fo the footer section ---------------- */




/*-------------------------- responsive breakpoints: 920px 760px ---------------------*/

/* ---- for devices smaller than 920px ----*/
@media only screen and (max-width: 920px) {
  .menu-tab a {
   font-size: 0.95em;
   /* -webkit-transition: 0.4s; 
   -moz-transition: 0.4s;
   transition: 0.4s; */
 }

 .menu-tab a:hover,
 .menu-tab a:focus {
  font-size: 0.95em;
  } 
}

/* --------------------------- for devices smaller than 760px ---------------------*/
@media only screen and (max-width: 760px) {
  * {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    margin: 0;
    padding: 0;
  }

  .menu {
    background: #DCDCDC; /* #92AB96 green */
    padding:0px;
    margin:0px;
  }
  
  /* ---------------fix the overflow of border in safari 9.0 ----------*/
  .logo {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    text-transform: uppercase;
    border-left: 0px;           /* hide the borderline;*/    /* #C2A83E yellow #7A306C purple */
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-top: 8px;
    color: #3D3522;             /*  #3D3522 brown */
    font-size: 1.05em;
  }
  /* ---------------safari 9.0 problem partially fixed ----------*/

  .ghost-space {
    padding:0;
    margin-left:0px;
  }

  nav ul {
    display: none; 
  }
  nav li {
    flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    width: 60%;                      /* previous: 75%; */
    /* float: right; */              /* better not using float */
    margin-right: 10px;              /* previous: 2px; */
    /* border-bottom: 1px yellow solid; */
  }
  nav .menu-tab a {
    width: 100%;                      /* previous: 100% */
    padding: 5px;
    color: white;                    /* previous: lightyellow; */
    background: #212121;;
    border-bottom: none;
    border-top: 1px white solid;     /* previous: lightyellow; */
    font-size: 1em;
    transition:none;
  }

  .menu-tab a:hover,.menu-tab a:focus {
    color: white;                     /* previous: #212121 dark grey; */
    background: #9B524C;              /*7A306C purple */ /* previous: #C2A83E yellow #9B524C red */
    border-bottom: none; 
    font-size: 1em; 
  }

  nav input[type="checkbox"]:checked + ul {
    display: block;
    list-style: none;
    width: 175%;                     /* flex 1, 4, 1 150% + 25%*/
    padding: 0;
    position: absolute;  /* on top of the jumbotron or whatever header beneath the menu */
    z-index: 990;        /* on top of the jumbotron or whatever header beneath the menu */
    margin-top: 60px;
    margin-left: -25%;               /* transformed to the left by 25% */
    -webkit-transition: 0.4s; 
    -moz-transition: 0.4s;
    transition: 0.4s;
    /* transition-duration: 1s;
    transition-timing-function: ease-in-out; */
    /* border: 1px orange solid; */
  }
  nav label {
    display: block;
  }

  nav input, 
  nav label {
    width: 36px;
    height: 36px;
    background: #3D3522;  /* brown */  /* previous: #212121 black; #3D3522 or #4A442D brown; #C2A83E yellow */
    color: white;         /* prevoious: lightyellow; #212121 dark grey */
    text-align: center;
    line-height: 36px;
    font-size: 1.6rem;
    border-radius: 4px;
    margin-right: -2px;
    position: absolute;  /* on top of the menu ul */
    z-index: 999;        /* on top of the menu ul */
  }



/* ------------------- responsive home page ------------- */
  .intro-text {
    width: 85%;
    padding: 30px 0;
  }

}

/* --------- responsive: homepage sl-text; breakpoints: 900, 700, 600, 500, 450; --------- */

/* ---- for devices between 900 and 700 ----*/
@media only screen and (max-width: 900px) {  
  .sl-text h1 {
  font-size: 28px; 
  /* color: lightyellow; */
  }
}

/* ---- for devices between 700 and 500 ----*/
@media only screen and (max-width: 700px) {
  .sl-text h1 {
  font-size: 24px; 
  /* color: lightcyan; */
  } 
}

/* ---- for devices smaller than 500 ----*/
@media only screen and (max-width: 600px) {
  .sl-text h1 {
  font-size: 20px; 
  /* color: gold; */
  } 
}

/* ---- for devices smaller than 500 ----*/
@media only screen and (max-width: 500px) {
  .sl-text h1 {
  font-size: 18px; 
  /* color: orange; */
  } 
}

/* ---- for devices smaller than 450 ----*/
@media only screen and (max-width: 449px) {
  .sl-text h1 {
  display: none;
  }
}

/* ---- for screen wider than 1280 ----*/
@media only screen and (min-width: 1281px) {
 .sl-text h1 {
  font-size: 50px; 
  }
}

.border-box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.input {
  page-break-inside: avoid;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

div.input {
    /* Old browsers */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
    /* Modern browsers */
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

.prompt {
  /* This needs to be wide enough for 3 digit prompt numbers: In[100]: */
  min-width: 14ex;
  /* This padding is tuned to match the padding on the CodeMirror editor. */
  padding: 0.4em;
  margin: 0px;
  font-family: monospace;
  text-align: right;
  /* This has to match that of the the CodeMirror class line-height below */
  line-height: 1.21429em;
  /* Don't highlight prompt number selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Use default cursor */
  cursor: default;
}

.prompt {
    text-align: left;
}

div.inner_cell {
    /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* Old browsers */
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  /* Modern browsers */
  flex: 1;
}

.input_area {
    border: 1px solid #cfcfcf;
  border-radius: 2px;
  background: #f7f7f7;
  line-height: 1.21429em;
}

.highlight {
    margin: 0.4em;
  border: none;
  padding: 0px;
  background-color: transparent;
}

<style type="text/css">
    .highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
    </style>
<style type="text/css">


div.input_prompt {
  color: #303F9F;
  border-top: 1px solid transparent;
}


div.output_wrapper {
  /* this position must be relative to enable descendents to be absolute within it */
  position: relative;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 1;
}
/* class for the output area when it should be height-limited */
div.output_scroll {
  /* ideally, this would be max-height, but FF barfs all over that */
  height: 24em;
  /* FF needs this *and the wrapper* to specify full width, or it will shrinkwrap */
  width: 100%;
  overflow: auto;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
  display: block;
}
/* output div while it is collapsed */
div.output_collapsed {
  margin: 0px;
  padding: 0px;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
div.out_prompt_overlay {
  height: 100%;
  padding: 0px 0.4em;
  position: absolute;
  border-radius: 2px;
}
div.out_prompt_overlay:hover {
  /* use inner shadow to get border that is computed the same on WebKit/FF */
  -webkit-box-shadow: inset 0 0 1px #000;
  box-shadow: inset 0 0 1px #000;
  background: rgba(240, 240, 240, 0.5);
}
div.output_prompt {
  color: #D84315;
}
/* This class is the outer container of all output sections. */
div.output_area {
  padding: 0px;
  page-break-inside: avoid;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
div.output_area .MathJax_Display {
  text-align: left !important;
}
div.output_area .rendered_html table {
  margin-left: 0;
  margin-right: 0;
}
div.output_area .rendered_html img {
  margin-left: 0;
  margin-right: 0;
}
div.output_area img,
div.output_area svg {
  max-width: 100%;
  height: auto;
}
div.output_area img.unconfined,
div.output_area svg.unconfined {
  max-width: none;
}
/* This is needed to protect the pre formating from global settings such
   as that of bootstrap */
.output {
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 540px) {
  div.output_area {
    /* Old browsers */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
    /* Modern browsers */
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
div.output_area pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: black;
  background-color: transparent;
  border-radius: 0;
}
/* This class is for the output subarea inside the output_area and after
   the prompt div. */
div.output_subarea {
  overflow-x: auto;
  padding: 0.4em;
  /* Old browsers */
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  /* Modern browsers */
  flex: 1;
  max-width: calc(100% - 14ex);
}
div.output_scroll div.output_subarea {
  overflow-x: visible;
}
/* The rest of the output_* classes are for special styling of the different
   output types */
/* all text output has this class: */
div.output_text {
  text-align: left;
  color: #000;
  /* This has to match that of the the CodeMirror class line-height below */
  line-height: 1.21429em;
}
/* stdout/stderr are 'text' as well as 'stream', but execute_result/error are *not* streams */
div.output_stderr {
  background: #fdd;
  /* very light red background for stderr */
}
div.output_latex {
  text-align: left;
}
/* Empty output_javascript divs should have no height */
div.output_javascript:empty {
  padding: 0;
}
.js-error {
  color: darkred;
}
/* raw_input styles */
div.raw_input_container {
  line-height: 1.21429em;
  padding-top: 5px;
}
pre.raw_input_prompt {
  /* nothing needed here. */
}
input.raw_input {
  font-family: monospace;
  font-size: inherit;
  color: inherit;
  width: auto;
  /* make sure input baseline aligns with prompt */
  vertical-align: baseline;
  /* padding + margin = 0.5em between prompt and cursor */
  padding: 0em 0.25em;
  margin: 0em 0.25em;
}
input.raw_input:focus {
  box-shadow: none;
}
p.p-space {
  margin-bottom: 10px;
}
div.output_unrecognized {
  padding: 5px;
  font-weight: bold;
  color: red;
}
div.output_unrecognized a {
  color: inherit;
  text-decoration: none;
}
div.output_unrecognized a:hover {
  color: inherit;
  text-decoration: none;
}
.rendered_html {
  color: #000;
  /* any extras will just be numbers: */
}
.rendered_html em {
  font-style: italic;
}
.rendered_html strong {
  font-weight: bold;
}
.rendered_html u {
  text-decoration: underline;
}
.rendered_html :link {
  text-decoration: underline;
}
.rendered_html :visited {
  text-decoration: underline;
}
.rendered_html h1 {
  font-size: 185.7%;
  margin: 1.08em 0 0 0;
  font-weight: bold;
  line-height: 1.0;
}
.rendered_html h2 {
  font-size: 157.1%;
  margin: 1.27em 0 0 0;
  font-weight: bold;
  line-height: 1.0;
}
.rendered_html h3 {
  font-size: 128.6%;
  margin: 1.55em 0 0 0;
  font-weight: bold;
  line-height: 1.0;
}
.rendered_html h4 {
  font-size: 100%;
  margin: 2em 0 0 0;
  font-weight: bold;
  line-height: 1.0;
}
.rendered_html h5 {
  font-size: 100%;
  margin: 2em 0 0 0;
  font-weight: bold;
  line-height: 1.0;
  font-style: italic;
}
.rendered_html h6 {
  font-size: 100%;
  margin: 2em 0 0 0;
  font-weight: bold;
  line-height: 1.0;
  font-style: italic;
}
.rendered_html h1:first-child {
  margin-top: 0.538em;
}
.rendered_html h2:first-child {
  margin-top: 0.636em;
}
.rendered_html h3:first-child {
  margin-top: 0.777em;
}
.rendered_html h4:first-child {
  margin-top: 1em;
}
.rendered_html h5:first-child {
  margin-top: 1em;
}
.rendered_html h6:first-child {
  margin-top: 1em;
}
.rendered_html ul {
  list-style: disc;
  margin: 0em 2em;
  padding-left: 0px;
}
.rendered_html ul ul {
  list-style: square;
  margin: 0em 2em;
}
.rendered_html ul ul ul {
  list-style: circle;
  margin: 0em 2em;
}
.rendered_html ol {
  list-style: decimal;
  margin: 0em 2em;
  padding-left: 0px;
}
.rendered_html ol ol {
  list-style: upper-alpha;
  margin: 0em 2em;
}
.rendered_html ol ol ol {
  list-style: lower-alpha;
  margin: 0em 2em;
}
.rendered_html ol ol ol ol {
  list-style: lower-roman;
  margin: 0em 2em;
}
.rendered_html ol ol ol ol ol {
  list-style: decimal;
  margin: 0em 2em;
}
.rendered_html * + ul {
  margin-top: 1em;
}
.rendered_html * + ol {
  margin-top: 1em;
}
.rendered_html hr {
  color: black;
  background-color: black;
}
.rendered_html pre {
  margin: 1em 2em;
}
.rendered_html pre,
.rendered_html code {
  border: 0;
  background-color: #fff;
  color: #000;
  font-size: 100%;
  padding: 0px;
}
.rendered_html blockquote {
  margin: 1em 2em;
}
.rendered_html table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
.rendered_html tr,
.rendered_html th,
.rendered_html td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 1em 2em;
}
.rendered_html td,
.rendered_html th {
  text-align: left;
  vertical-align: middle;
  padding: 4px;
}
.rendered_html th {
  font-weight: bold;
}
.rendered_html * + table {
  margin-top: 1em;
}
.rendered_html p {
  text-align: left;
}
.rendered_html * + p {
  margin-top: 1em;
}
.rendered_html img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rendered_html * + img {
  margin-top: 1em;
}
.rendered_html img,
.rendered_html svg {
  max-width: 100%;
  height: auto;
}
.rendered_html img.unconfined,
.rendered_html svg.unconfined {
  max-width: none;
}
div.text_cell {
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
@media (max-width: 540px) {
  div.text_cell > div.prompt {
    display: none;
  }
}
div.text_cell_render {
  /*font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
  outline: none;
  resize: none;
  width: inherit;
  border-style: none;
  padding: 0.5em 0.5em 0.5em 0.4em;
  color: #000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}